<div class="col-md-10 blogShort">
    <h1>{{article?.title}}</h1>
    <img [src]="article?.image" alt="post img" class="img-responsive postImg img-thumbnail margin10">
    <article>
        <div *ngFor="let paragraph of article?.content">
            <h2>{{paragraph.title}}</h2>
            <p>{{paragraph.content}}</p>
        </div>
    </article>
    <p style="margin-top: 4%;margin-bottom: 4%;">Cet article a été rédigé par {{article.user?.name}}</p>
    <i id="like" (click)="like()" class="bi bi-heart-fill" [style]="'font-size: 200%; margin-top: 8%;margin-bottom: 4%;color:'+heartColor"></i>
    <label for="like" (click)="like()" style="font-size: 200%; margin-left: 2%;">J'aime</label>
    <h1><small class="pull-right">{{article.likes.length==0?'Soyez le premier à aimer':(article.likes.length==1?'1 seul utilisateur a aimé':article.likes.length+' utilisateurs ont aimé')}} cet article </small>  </h1>
</div>

<div class="col-md-10 blogShort" [formGroup]="applyForm">
    <div class="col-md-8">
        <div class="page-header">
            <h1><small class="pull-right">{{comments.length}} {{comments.length==0 || comments.length==1?'commentaire':'commentaires'}}</small> Commentaires </h1>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="" style="height: 100px" id="floatingTextarea" formControlName="comment"></textarea>
            <label for="floatingTextarea">{{comments.length==0?'Soyez le premier à commenter cet article!':'Laissez un commentaire ici'}}</label>
            <div class="field-message text-danger" for="form2Example1" *ngIf="commentErrorMessage!=''">
                {{commentErrorMessage}}
            </div>
        </div>
        <input (click)="comment()" [disabled]="applyForm.invalid" type="submit" class="btn btn-primary btn-lg" value="Commenter"/>
        <div *ngFor="let comment of comments" class="comments-list">
            <div class="media">
                <p class="pull-right"><small>{{comment.commentDate}}</small></p>
                <a class="media-left" href="#">
                    <img src="../../assets/profile.png" style="width: 12%;">
                </a>
                <div class="media-body">
                    <h4 class="media-heading user_name">{{comment.user?.name}}</h4>
                    {{comment.content}}
                </div>
            </div>
        </div>
    </div>
</div>